@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#cauHoi li .content{
    display: none;line-height: normal;
 }
 #cauHoi li{
 border: solid 1px #c6ebde;
 border-radius: 10px;
 line-height: 58px;
 padding-right: 15px;
 padding-left: 15px;
 background: #fff;
 font-size: 18px;
 font-weight: 400;
 margin-bottom: 0;
 cursor: pointer;margin-bottom: 20px;
 }
 #cauHoi li i{
     float:right;
     color: #2FD193;
     transform: translate(0, 20px);
 }
 #cauHoi li i:nth-child(3){
     display: none;
 }
 .childSerive .img img{
     width:90px;
     border-radius: 10px;
     margin:10px 0;
 }
 .banner_service img, .banner_service iframe{
     width: 100vw;
height: 760px;
cursor: none;
pointer-events: none;

 }
 .banner_service{
     position: relative;
 }
 .banner_service:before{
     position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 80%;
 /* background: #000; */
 content: '';
 background-image: linear-gradient(to bottom, black, transparent);
 z-index: 1;
 } 
 .innerpage-banner{
     color:#fff;
 }
 .blog-item-ctrl{
    width: 33.3333%;
    padding: 10px;
    float: left;
    margin-top: 50px;
    height: 550px;
 }
 .blog-item-ctrl img{
     width:100%;
     height:300px;
     object-fit: cover;
 }
 .blogList-Ctrl{
     padding:0;
     margin-top:50px;
 }
 .news-col-left h3{
     font-family: 'Open Sans';
    font-weight: 500;
    text-transform: none;
 }
 .blog-author{
     list-style: none;
     width:100%;
     margin:0;
 }
 .blog-author li{
    display: inline-block;
    white-space: nowrap;
    padding: 10px 10px 10px 0;
 }
 .blog-author i{
     margin-right:5px;
 }

 
.item-news:nth-child(1),
.item-news:nth-child(2),
.item-news:nth-child(9),
.item-news:nth-child(10)
{
  width:50%;
  margin-bottom: 10px;
  display: inline-block;
}
.item-news:nth-child(1) .news-col-right,
.item-news:nth-child(2) .news-col-right,
.item-news:nth-child(9) .news-col-right,
.item-news:nth-child(10) .news-col-right
{
  height: 350px;

}
.item-news:nth-child(n+16),
.item-news:nth-child(3),
.item-news:nth-child(4),
.item-news:nth-child(5),
.item-news:nth-child(6),
.item-news:nth-child(7),
.item-news:nth-child(8),
.item-news:nth-child(11),
.item-news:nth-child(12),
.item-news:nth-child(13),
.item-news:nth-child(14),
.item-news:nth-child(15),
.item-news:nth-child(16){
  width:33.33333%;
  height: 394px;
  margin-bottom: 30px;
  display: inline-block;
}
.avatarNew img{
  width:100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 12px;
}
.small_new .item-news{
    width: 25%;
}
.small_new .item-news-col h3 a {
    line-height: 26px;
    font-weight: 600;
    font-size: 16px;
}
.small_new .item-news:nth-child(1) .news-col-right,
.small_new .item-news:nth-child(2) .news-col-right {
    height: 300px;
}
.item-news-col {
    width: 100%;
}
.item-news-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.item-news-col a {
    text-decoration: none;
    color: #000000;
}
.item-news-col .news-col-left {
    float: left;
    width: 100%;
    padding: 10px 0px;
    display: block;
    position: relative;
}
.listCategory{
    padding:10px;
    text-align: center;
    margin-bottom:30px;
}
.listCategory a{
    padding: 10px;
    text-align: center;
    border: 1px solid #eeee;
    margin: 5px;
    transition:0.3s ease-in;
}
.listCategory a{
    padding: 10px;
    text-align: center;
    border: 1px solid #eeee;
    margin: 5px;
}
.listCategory a:hover{
    color:#fff;
    background:chocolate;
}
.menuNew-Ctrl{

}
.menuNew-Ctrl .logo{
    width:20%;
    display:inline-block;
}
.menuNew-Ctrl .nav{
    float:right;
    width:80%;
    display:inline-block;
    color:#fff;
    text-align:right;
}
.menuNew-Ctrl .nav ul{
    padding:0;
    margin:0;
    list-style: none;
}
.menuNew-Ctrl .nav li{
    margin: 0 20px;
    display: inline-block;
    display: inline-grid;
}
.menuNew-Ctrl .nav ul li{
    
}
.menuNew-Ctrl .nav li a{
    width: max-content;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 37px 0 15px;
    border-bottom: 3px solid transparent;
}
.menuNew-Ctrl .nav li a:hover{
    color: #07AAA5;
    background-color: transparent;
}
.menuNew-Ctrl .page-scroll{
    color: #07AAA5;
    border-bottom: 3px solid #82b440!important;
    background-color: transparent;
}
.nav-ctrl{

}
.nav-ctrl li{
    position: relative;
}
.nav-ctrl .child-Ctrl{
    background: #fff;
    position: fixed;
    top: 74px;
    width: 80%;
    padding: 30px;
    display: none;
    transition: 0.3s ease-in;
    box-shadow: 0 5px 5px #5b5656;
    overflow: hidden;
    left: 10%;
    /* transform: translate(-66%, 0); */
    background-image: url(https://www.webico.vn/wp-content/uploads/seowp-dropdown-bg.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
    background-size: auto;
    animation: shownavul 0.2s linear 1 alternate;
    transition: 0.5s;

}
.nav-ctrl .child-Ctrl-blog{
    position: absolute;
    padding:30px;
    top:100%;
    left:0;
    line-height: 32px;
    background:#fff;
    box-shadow: 0 5px 5px #5b5656;
    text-transform: none;
    width:max-content;
    transform:translate(-50%,0);
    display:none;
    animation: shownavulTwo 0.2s linear 1 alternate;

}
.nav-ctrl .child-Ctrl-blog li{
    display: table-cell;
    width: 50%;
    padding: 10px;
    font-weight: bold;
}
.nav-ctrl .child-Ctrl-blog li li{
    padding:0;
    display: block;
    width:100%;
    font-weight: initial;

}
.nav-ctrl .child-Ctrl-blog li ul{

}
.nav-ctrl .child-Ctrl-blog li ul li{

}

.nav-ctrl ul li{
    display: inline-table;
    line-height: 32px;
    text-transform: uppercase;
}
.nav-ctrl i{
    display: none;
}
.nav-ctrl ul ul li{
    display: inline-table;
    line-height: 32px;
    margin-right: 40px;
    text-transform: none;

}
.nav-ctrl ul li p{
    opacity: 0.6;
    text-transform: none;

}
.nav-ctrl ul ul ul li{
    display: block;
}
.nav-ctrl ul ul ul{
    position: relative;
}
.d-block{
    display: block!important;
}
.nav-ctrl li:hover .child-Ctrl, .nav-ctrl li:hover .child-Ctrl-blog{
    display:block;
}
.nav-ctrl ul a:hover{
    color: #07AAA5;
}

.col-50{
    width:49%;
    display: inline-block;
}
@keyframes shownavul{
    0%{
        top: 90px;
        opacity:0;
    }
    100%{
        top: 74px;
        opacity:1;
    }
}
@keyframes shownavulTwo{
    0%{
        top: 130%;
        opacity:0;
    }
    100%{
        top: 100%;
        opacity:1;
    }
}