@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#cauHoi li .content{
    display: none;line-height: normal;
 }
 #cauHoi li{
 border: solid 1px #c6ebde;
 border-radius: 10px;
 line-height: 58px;
 padding-right: 15px;
 padding-left: 15px;
 background: #fff;
 font-size: 18px;
 font-weight: 400;
 margin-bottom: 0;
 cursor: pointer;margin-bottom: 20px;
 position: relative;
 }
 #cauHoi p{
    width:80%;padding: 10px 0 0;
 }
 #cauHoi li i{
    color: #2FD193;
    position: absolute;
    top: 0.8em;
    right: 10px;
 }
 #cauHoi li i:nth-child(3){
     display: none;
 }
 .childSerive .img img{
     width:90px;
     border-radius: 10px;
     margin:10px 0;
 }
 .banner_service img, .banner_service iframe{
     width: 100vw;
height: 760px;
cursor: none;
pointer-events: none;

 }
 .banner_service{
     position: relative;
 }
 .banner_service:before{
     position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 80%;
 /* background: #000; */
 content: '';
 background-image: linear-gradient(to bottom, black, transparent);
 z-index: 1;
 } 
 .innerpage-banner{
     color:#fff;
 }
 .blog-item-ctrl{
    width: 33.3333%;
    padding: 10px;
    float: left;
    margin-top: 50px;
    height: 550px;
 }
 .blog-item-ctrl img{
     width:100%;
     height:300px;
     object-fit: cover;
 }
 .blogList-Ctrl{
     padding:0;
     margin-top:50px;
 }
 .news-col-left h3{
     font-family: 'Open Sans';
    font-weight: 500;
    text-transform: none;
 }
 .blog-author{
     list-style: none;
     width:100%;
     margin:0;
 }
 .blog-author li{
    display: inline-block;
    white-space: nowrap;
    padding: 10px 10px 10px 0;
 }
 .blog-author i{
     margin-right:5px;
 }

 
.item-news:nth-child(1),
.item-news:nth-child(2),
.item-news:nth-child(9),
.item-news:nth-child(10)
{
  width:50%;
  margin-bottom: 10px;
  display: inline-block;
}
.item-news:nth-child(1) .news-col-right,
.item-news:nth-child(2) .news-col-right,
.item-news:nth-child(9) .news-col-right,
.item-news:nth-child(10) .news-col-right
{
  height: 350px;

}
.item-news:nth-child(n+16),
.item-news:nth-child(3),
.item-news:nth-child(4),
.item-news:nth-child(5),
.item-news:nth-child(6),
.item-news:nth-child(7),
.item-news:nth-child(8),
.item-news:nth-child(11),
.item-news:nth-child(12),
.item-news:nth-child(13),
.item-news:nth-child(14),
.item-news:nth-child(15),
.item-news:nth-child(16){
  width:33.33333%;
  height: 394px;
  margin-bottom: 30px;
  display: inline-block;
}
.avatarNew img{
  width:100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 12px;
}
.small_new .item-news{
    width: 25%;
}
.small_new .item-news-col h3 a {
    line-height: 26px;
    font-weight: 600;
    font-size: 16px;
}
.small_new .item-news:nth-child(1) .news-col-right,
.small_new .item-news:nth-child(2) .news-col-right {
    height: 300px;
}
.item-news-col {
    width: 100%;
}
.item-news-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.item-news-col a {
    text-decoration: none;
    color: #000000;
}
.item-news-col .news-col-left {
    float: left;
    width: 100%;
    padding: 10px 0px;
    display: block;
    position: relative;
}
.listCategory{
    padding:10px;
    text-align: center;
    margin-bottom:30px;
}
.listCategory a{
    padding: 10px;
    text-align: center;
    border: 1px solid #eeee;
    margin: 5px;
    transition:0.3s ease-in;
}
.listCategory a{
    padding: 10px;
    text-align: center;
    border: 1px solid #eeee;
    margin: 5px;
}
.listCategory a:hover{
    color:#fff;
    background:chocolate;
}
.menuNew-Ctrl{

}
.menuNew-Ctrl .logo{
    width:20%;
    display:inline-block;
}
.menuNew-Ctrl .nav{
    float:right;
    width:80%;
    display:inline-block;
    color:#fff;
    text-align:right;
}
.menuNew-Ctrl .nav ul{
    padding:0;
    margin:0;
    list-style: none;
}
.menuNew-Ctrl .nav li{
    margin: 0 20px;
    display: inline-block;
    display: inline-grid;
}
.menuNew-Ctrl .nav ul li{
    
}
.menuNew-Ctrl .nav li a{
    width: max-content;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 37px 0 15px;
    border-bottom: 3px solid transparent;
}
.menuNew-Ctrl .nav li a:hover{
    color: #07AAA5;
    background-color: transparent;
}
.menuNew-Ctrl .page-scroll{
    color: #07AAA5;
    border-bottom: 3px solid #82b440!important;
    background-color: transparent;
}
.nav-ctrl{

}
.nav-ctrl li{
    position: relative;
}
.nav-ctrl .child-Ctrl{
    background: #fff;
    position: fixed;
    top: 74px;
    width: 80%;
    padding: 30px;
    display: none;
    transition: 0.3s ease-in;
    box-shadow: 0 5px 5px #5b5656;
    overflow: hidden;
    left: 10%;
    /* transform: translate(-66%, 0); */
    background-image: url(https://www.webico.vn/wp-content/uploads/seowp-dropdown-bg.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
    background-size: auto;
    animation: shownavul 0.2s linear 1 alternate;
    transition: 0.5s;

}
.nav-ctrl .child-Ctrl-blog{
    position: absolute;
    padding:30px;
    top:100%;
    left:0;
    line-height: 32px;
    background:#fff;
    box-shadow: 0 5px 5px #5b5656;
    text-transform: none;
    width:max-content;
    transform:translate(-50%,0);
    display:none;
    animation: shownavulTwo 0.2s linear 1 alternate;

}
.nav-ctrl .child-Ctrl-blog li{
    display: table-cell;
    width: 50%;
    padding: 10px;
    font-weight: bold;
}
.nav-ctrl .child-Ctrl-blog li li{
    padding:0;
    display: block;
    width:100%;
    font-weight: initial;

}
.nav-ctrl .child-Ctrl-blog li ul{

}
.nav-ctrl .child-Ctrl-blog li ul li{

}

.nav-ctrl ul li{
    display: inline-table;
    line-height: 32px;
    text-transform: uppercase;
}
.nav-ctrl i{
    display: none;
}
.nav-ctrl ul ul li{
    display: inline-table;
    line-height: 32px;
    margin-right: 40px;
    text-transform: none;

}
.nav-ctrl ul li p{
    opacity: 0.6;
    text-transform: none;

}
.nav-ctrl ul ul ul li{
    display: block;
}
.nav-ctrl ul ul ul{
    position: relative;
}
.d-block{
    display: block!important;
}
.nav-ctrl li:hover .child-Ctrl, .nav-ctrl li:hover .child-Ctrl-blog{
    display:block;
}
.nav-ctrl ul a:hover{
    color: #07AAA5;
}

.col-50{
    width:49%;
    display: inline-block;
}
@keyframes shownavul{
    0%{
        top: 90px;
        opacity:0;
    }
    100%{
        top: 74px;
        opacity:1;
    }
}
@keyframes shownavulTwo{
    0%{
        top: 130%;
        opacity:0;
    }
    100%{
        top: 100%;
        opacity:1;
    }
}
footer{
    width:100vw;
    padding:40px 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
footer .col{
    display: inline-table;
    padding-right:90px;
    width:29%;
}
footer .col:nth-child(2){
    width:40%;
}
footer .col{
    display: inline-table;
    padding-right:90px;
}
.ct-wg-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.ct-wg-title span {
    display: inline-block;
    margin-right: 20px;
}
.ct-wg-title i {
    width: 100%;
    height: 1px;
    background-color: rgba(233, 234, 238, 0.15);
    display: inline-block;
}
.lienheFooter a{
    color: #e73d8e;
    transition: 0.3s;
    line-height: 34px;
}
.lienheFooter a:hover {
    color: #5b5cfb;
}
footer p{
    color:#fff;
}
footer .p-new{
    color: #d876fb;
    font-size: 14px;
    line-height: 24px;
}
footer{
    background: #1C0134!important;
}
footer .bottom{
    color:#3a505f;
    margin-top:20px;
    font-weight: 800;
}
.end{
    background:#000;
    padding:20px;
    text-align:center;
    color:#fff;
    font-size:18px;

}
.menu-footer ul{
    padding:0;
    margin:0;
    list-style: none;
}
.menu-footer li{
    width:49%;
    display: inline-flex;
    margin-bottom: 16px;
    transition:0.3s;
}
.menu-footer li i{
    margin-right: 5px;
    transform: translate(0, 6px);
    font-size: small;
}
.menu-footer li:hover a
{
    color: #e73d8e;
}
.menu-footer li:hover
{
    color: #e73d8e;
    transform: translate(6px, 0);

}



.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -35px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -36px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 52%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
  @media screen and (min-width: 400px ?? max-width: 660px) {
  
  .direction-l .desc,
  .direction-r .desc {
      margin: 1em 4em 0 4em;
  }
  
  }
  .timeline .desc ul{
    padding:0 20px;
    margin:0;
    list-style: none;
  }
  .timeline .desc li{
      padding:5px;
}
.priceshowModal{
    float:right;
}

#exampleModal .form-control{
    margin-top:5px;
}
.alert-ctrl{
    position: fixed;
    top: 50%;
    left: 50%;
    width: max-content;
    max-width: 60vw;
    background: #FFF3CD;
    color: #C3AC6A;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    border: 1px solid #C3AC6A;
    padding: 10px;
    display: none;
    z-index: 1111111111111;
}
.alert-ctrl button{
    background: transparent;
    border-width: 0;
    font-weight: bold;
}
.childSerive{

    margin-bottom:40px;
  }
.cateogry_service h1{
    font-size:40px;
    text-transform: uppercase;
    line-height: 1.5;
}
.cateogry_service h2{
    font-size: 48px;
text-transform: uppercase;
color: #4f4f4f;
text-align: center;
margin-bottom: 0;
line-height: 1.5;
}

.cateogry_service h3{
font-size: 36px;
color: #276ae3;
text-transform: uppercase;
line-height: 1.5;

}
.cateogry_service p,
.cateogry_service li
{
    text-align: justify;
    line-height: 1.5;
    font-family: encode sans,sans-serif;
    font-size: initial;
}
.d-none-ctrl{
    display: none!important;
}
.d-none-ctrl i{
   position: initial!important;
   margin-right: 10px;
}
.d-none-ctrl a{
    display: inline-block!important;
    margin-left: 10px;
}